<launch>

  <include file="$(find tbot2_launch)/launch/tbot2.launch" />
    
  <node pkg="open_door_detector" type="detect_open_door" name="detect_open_door" output="screen" />
  
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
  
  
</launch>
